@charset "UTF-8";

@media screen and (min-width: 768px) {

    body,html{
        width: 100vw;
        height: 100vh;
        background-image: url(../imagens/fundo-hotel.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    #container-formulario{
        height: 250px;
        width: 500px;
    }
    
    #imagem-formulario{
        display: inline-block;
        float: left;
        width: 200px;
        transform: translateY(50px);
        
    }
    #formulario{
        display: inline-block;
        float: right;
    }  
    
}